<div>
	<ul>
		<li ng-repeat="elem in analysis_data">
         <span ng-hide="editable[$index]">
           {{elem}}
         </span>
         <span ng-show="editable[$index] && not_editable_list.indexOf(columnName)==-1">
           <input type="text" ng-model="new_id" class="input-xxlarge" ng-disabled="not_editable_list.indexOf(columnName)!=-1">
           <a ng-click="analysis_data[$index] = new_id; editable[$index] = false;" >
             <i class="icon-plus-sign"></i>
           </a>
           <a ng-click="editable[$index]=!editable[$index]; new_id=analysis_data[$index];">
             <i class="icon-minus"></i>
           </a>
         </span>
         <span ng-hide="editable[$index] || not_editable_list.indexOf(columnName)!=-1">
           
           <a ng-click="remove($index)">
             <i class="icon-remove-sign"></i>
           </a>
         <span>
       </li>
      </ul>
       <form class="form-inline" ng-hide="not_editable_list.indexOf(columnName)!=-1">
         <a ng-click="add_analysis_id=!add_analysis_id;">
           <i class="icon-plus" ng-hide="add_analysis_id"></i>
            <i class="icon-minus" ng-show="add_analysis_id"></i>
          </a>
          <input type="text" ng-model="new_analysis_id" ng-show="add_analysis_id" class="input-xxlarge"></i>
          <i class="icon-plus-sign" ng-click="pushNewAnalysisID()" ng-show="add_analysis_id"></i>
        </form>
    </div>